body{
    text-align: center;
    background-color: #333;
    background: rgb(235, 235, 235);
}

body.switch{
    background-color: rgb(81, 38, 0);
}
.container {

    display: none;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    height: 1200px;
    background-color: #12B3D8;
    gap: 0px;
    z-index: 1;
    position: relative;
    
    
}

.container-development {

    display: none;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    height: 1200px;
    background-color: orange;
    gap: 0px;
    z-index: 1;
    position: relative;

    
    
}

.container-development .tile a img {

    position: absolute;
    bottom: 100px;


}

.container-ministudio {

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    height: 600px;
    background-color: red;
    gap: 0px;
    z-index: 1;
    position: relative;
    
    
}

.container-toolkit {

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    height: 600px;
    background-color: green;
    gap: 0px;
    z-index: 1;
    position: relative;
    
    
}

.container-toolkit .tile a img {

    position: absolute;
    bottom: 110px;


}

.container-capstone {

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    height: 400px;
    background-color: yellow;
    gap: 0px;
    z-index: 1;
    position: relative;
    
    
}

.container-2 {

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 350px;
    height: 200px;
    gap: 40px;
    z-index: 1;
    position: relative;
    
    
}

.container-2 h1 {

    text-align: left;
    font-family: helvetica;
    color: rgb(49, 4, 4);
    
}

.container-2 h1.switch{

    color: #F9F8F4;
}

.container-2 h2 {

    text-align: left;
    font-family: helvetica;
    color: rgb(49, 4, 4);
}

.container-2 h2.switch{

    color: #F9F8F4;
}

.container-2 button{
    float: right;
   margin-right: 20px;
   margin-bottom: 20px;

}

nav {

    z-index: 1;
    list-style: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 250px;



}

nav ul {

    position: relative;
    margin-right: auto;
    margin-left: auto;
    left: -20px;
}

nav ul li a{

   position: relative;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 4, 4);
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    top: 10px;
}

nav ul li a.switch {

    color: #F9F8F4;

}

nav ul li {

    border-bottom: 2px;
    border-color: rgb(49, 4, 4);
    border-bottom-style: solid;
    list-style-type: none;
    max-width: 200px;
    align-items: center;
    height: 40px;
}

nav ul li.switch {

    border-color: #F9F8F4;

}



#ministudio {

   position: relative;
   top: 10px;
   height: 20px;
   width: 20px;
   left: 15px;
}

#ministudio img {

    position: relative;
    height: 20px;
    width: 20px;
    right: 10px;
}
#development {

    position: relative;
    top: 10px;
    height: 20px;
   width: 20px;
 }
 #development img {

    height: 20px;
    width: 20px;
}
 #toolkit {

    position: relative;
    top: 10px;
    height: 20px;
   width: 20px;
 }
 #toolkit img {

    position: relative;
    height: 20px;
    width: 20px;
    right: 20px;
}
 #research {

    position: relative;
    top: 10px;
    height: 20px;
   width: 20px;
 }
 #research img {
    position: relative;
    height: 20px;
    width: 20px;
    right: 20px;
}
 #capstone {

    position: relative;
    top: 10px;
    height: 20px;
   width: 20px;
 }
 #capstone img {

    position: relative;
    height: 20px;
    width: 20px;
    right: 20px;
}

 .background-img {

    position: absolute;
    width: 100vw;
    height: 100vw;
 
    top: 800px;
 }

 .background-img img {


    height: 10%;
    width: 100%;

   
 }



 .tile {

    max-width: 300px;
    min-width: 300px;
    height: 200px;
    color: white;
 }

 .tile a img {

    position: absolute;
    height: 90px;
    width: 90px;
    bottom: 50px;
    
 }

 .tile a {
   

    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    position: relative;
    top: 130px;
    text-align: left;

 }

 .tile {

 }

 .container-visible {

    display: block;
 }

 button{

    max-height: 40px;
    max-width: 80px;
    border:none;
    background:none;
    padding:0;
    margin:0;
 }

 button img {

    height: 40px;
    width: 80px;


 }

 @media screen and (min-width: 1200px) {
    body {
      
    }
    .container {
        display: none;
        flex-wrap: wrap;
        width: 900px;
        height: 400px;
        margin-top: -200px
    }

    .container-development {
        display: none;
        flex-wrap: wrap;
        width: 900px;
        height: 400px;
        margin-top: -200px
    }

    .container-ministudio {
        display: none;
        flex-wrap: wrap;
        width: 900px;
        height: 200px;
        margin-top: -200px
    }

    .container-toolkit {
        display: none;
        flex-wrap: wrap;
        width: 900px;
        height: 200px;
        margin-top: -200px
    }

    .container-capstone {
        display: none;
        flex-wrap: wrap;
        width: 600px;
        height: 200px;
        right: 150px;
        margin-top: -200px
    }

    .container-2{
        width: 900px;
    }

    nav {
        position: relative;
        right: 600px;
    }

    #toolkit img {

    
        right: 40px;
    }

    #ministudio img {

    
        right: 18px;
    }

    #ministudio {

        left: 0px;
     }

     .background-img {
     
        top: 500px;
     }
    


    
  }

  @media screen and (min-width: 800px) {
 
   
    
    
  }