body {

    background-image: url(images/garden-background-2.png);
    background-color: #ffff;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    

}

.space {
    height: 20px;
}

.window {
    width: 750px;
    max-height: 100vh;
    position: relative; /* Needed for absolute children */
    overflow: hidden; /* Prevent overflow from shifting layout */
    margin-left: auto;
    margin-right: auto;
    overflow:visible;
    padding-top: 0px;
}
.display-1{
    display: none;
}

.display-2{
    display: none;
}

.display-3{
    display: none;
}

.farmplaque {

    width: 100%;
    height: 100;
    object-fit: contain;

}

.title-card {

    position: absolute;
    width: 606px;
    height: 446px;
    top: 220px;
    left: 40px;
    

    
}


.title-card-2 {

    position: relative;
    width: 800px;
    height: 627px;
    left: -400px;
    top: -650px;
    z-index: 2;
}

.ecoplaque {

    
    height: 100%;
    object-fit: contain;
    

}

.title-card-0 {

    position: relative;
    width: 606px;
    height: 446px;
    
}

.road {

    position: absolute;
    left: -20px;
    width: 1300px;
    height: 1300px;
    top: -300px;
    object-fit: contain;
    

}


.title-card-3 {

    position: absolute;
    width: 655px;
    height: 804px;
    right: -450px;
    top: -150px;
    z-index: 2;
}

.woodsplaque {

    
    height: 100%;
    object-fit: contain;
    

}

.title-card-4 {

    position: absolute;
    width: 728px;
    height: 685px;
    left: -300px;
    top: 500px;
}

.marketplaque {

    
    height: 100%;
    object-fit: contain;
    

}

.tractor-1 {

    
    display: none;
   position:relative;
   width: 195px;
   height: 190px;
   top: -550px;
   left: 400px;
    

}

.pitchfork-1 {

    display: none;
    position:relative;
    width: 55px;
    height: 195px;
    top: -670px;
    left: 600px;
     
 
 }

 .birds-1 {

    display: none;
    position:relative;
    width: 290px;
    height: 256px;
    top: -600px;
    left: -100px;
    z-index: 999;
     
 
 }

 .guitar-1 {

    display: none;
    position:relative;
    width: 153px;
    height: 311px;
    top: -350px;
    left: 270px;
    opacity: 0;    /* Ensure they are fully transparent */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
     
 
 }

 .comb-1 {

    display: none;
    position:relative;
    width: 87px;
    height: 89px;
    top: -650px;
    left: 480px;
    opacity: 0;    /* Ensure they are fully transparent */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
     
 
 }

#override-0 {

    top: 240px !important;
    left: 60px !important;
    position: absolute !important;
}


#override-1 {

    left: -350px !important;
    top: -210px !important;
    position: absolute !important;
}

#override-2 {

    left: 550px !important;
    top: -150px !important;
    position: absolute !important;
}


#override-3 {

    left: -300px !important;
    top: 500px !important;
    position: absolute !important;
}

#override-4 {

  
}

.overlay-1 {

    position: absolute;
    height: 500px;
    width: 1000px;
    z-index: 1;
    top: 0px;
    left: 0px;
    /* background-color: red; */
    opacity: .5;



}

.overlay-2 {

    position: absolute;
    height: 500px;
    width: 1000px;
    z-index: 1;
    top: 0px;
    right: 0px;
    /* background-color: green; */
    opacity: .5;



}

.overlay-3 {

    position: absolute;
    height: 500px;
    width: 1000px;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    /* background-color: blue; */
    opacity: .5;



}









