html {

    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    margin-top: 50px;
}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-decoration: none;
    color: white;
}

ul li a:hover {

    color: black;
    
}

ul li a:active {

    color: black;
    opacity: 40%;
}

nav {

    position: fixed;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    
}

.background {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0px;
}

.wordmark p {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: fixed;
    left: 20px;
    
}

.wordmark {

    bottom: 20px;
    position: fixed;
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

body {

    margin-top: -10px;
}

.window {

    width: 300px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
}

.data-display{

    left: 100px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  
    
    
}

.data-display p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: white;



}

.time-icon {
    
    display: flex;
    flex-direction: row;
}

.time-icon img{

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    height: 80px;
    width: 80px;

}

.weather-icon{

    display: flex;
    flex-direction: row;

}

.weather-icon img{

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    height: 80px;
    width: 80px;

}

.transport-icon {


    display: flex;
    flex-direction: row;
}

.transport-icon img{

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    height: 80px;
    width: 80px;
}

.speed-icon{


    display: flex;
    flex-direction: row;
}

.speed-icon img{

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    height: 80px;
    width: 80px;

}

.data-display {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    display: block;
}



.time-overlay,
.weather-overlay,
.transport-overlay,
.speed-overlay {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: none;
}

.data-display::-webkit-scrollbar {
    display: none;
}

.window-2 {
    transform: translateY(100vh); /* Off-screen below the viewport */
    transition: transform 1s ease-in-out;
    position: relative; /* Make sure it's relative for smooth animation */
    z-index: 2;
}

.window-2.active {
    transform: translateY(0); /* Slide up into position */
}

.arrow {

    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 40px;
    
}

.arrow.active-1 {


    opacity: 100;
    transition: 1s ease-in-out;

}
@media screen and (min-width: 800px) {

    .window{
        position: absolute;
        margin-left: 200px;
        margin-top: 200px;
    }

    .wordmark{

        min-width: 100vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .wordmark p {
        
        position: relative;
      
    }

    .data-display {
        margin-right: 300px;
    }
}